.social-widget {
    position: fixed;
    width: 50px;
    z-index: 99999;
}

.social-widget .sbutton {
    float: right;
    height: 41px;
    margin: 0;
    position: relative;
    width: 50px;
}
	.sbutton img{padding:5px;}
	
	#tw a{background:none repeat scroll 0 0 #2CA8D2; text-align:center; display:block;  width:45px; height:40px; border-bottom:1px solid rgba(255, 255, 255, 0.1)}
	
	#fb a{background:none repeat scroll 0 0 #305891; text-align:center; display:block;  width:45px; height:40px; border-bottom:1px solid rgba(255, 255, 255, 0.1);outline:none;}
	
	#ml a{background:none repeat scroll 0 0 #738A8D; text-align:center; display:block;  width:45px; height:40px; border-bottom:1px solid rgba(255, 255, 255, 0.1);outline:none;}
	
	#gp a{background:none repeat scroll 0 0 #DD4C39; text-align:center; display:block;  width:45px; height:40px; border-bottom:1px solid rgba(255, 255, 255, 0.1); outline:none;}
	
	#li a{background:none repeat scroll 0 0 #007BB6; text-align:center; display:block;  width:45px; height:40px; border-bottom:1px solid rgba(255, 255, 255, 0.1); outline:none;}
	
	#pin a{background:none repeat scroll 0 0 #ca2027; text-align:center; display:block;  width:45px; height:40px; border-bottom:1px solid rgba(255, 255, 255, 0.1); outline:none;}
#csbwfs-right #fb a {
    position: absolute;
    right: 0;
  
}
#csbwfs-right #tw a {
    position: absolute;
    right: 0;
   
}
#csbwfs-right #gp a {
    position: absolute;
    right: 0;

}

#csbwfs-right #li a {
    position: absolute;
    right: 0;
  
}
#csbwfs-right #pin a {
    position: absolute;
    right: 0;
 
}
#csbwfs-right #ml a {
    position: absolute;
    right: 0;
   
}

#csbwfs-right a#hide {padding-right:33px;}

#csbwfs-right a#show {float:right;}

/* CSS for SHARE BUTTONS ON PAGES*/
#socialButtonOnPage {width:100%; padding-top:5px; padding-bottom:5px;}
#socialButtonOnPage .sbutton-post {float:left; padding:5px 1px;}
#socialButtonOnPage .sbutton-post img {width:31px; height:30px;opacity:0.7; border-radius:3px 3px 3px 3px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.2);}
#socialButtonOnPage .sbutton-post img:hover{opacity:1;}
#socialButtonOnPage .sharethis-arrow{float:left;padding:5px 10px 5px 1px;}
